<button style="margin-bottom: 1em" routerLink="/prompts/create" nz-button nzType="primary">Create new PROMPT</button>
<div *ngFor="let prompt of prompts" >
  <nz-card >
    <div nz-row>
      <div nz-col nzSpan="20" >
        <p>Prompt: {{prompt.value}}</p>
        <p>Negative Prompt: {{prompt.negativeValue}}</p>
        <p>Tags:
          <nz-tag  *ngFor="let tag of prompt.tags" [nzColor]="'magenta'">{{tag}}</nz-tag>
        </p>
        <p>
          <span style="font-weight: bold"> {{prompt.active? "ACTIVE" : "INACTIVE"}} </span>
          Number of images: {{prompt.numberOfImages}};
          Number of inference steps: {{prompt.numberOfInferenceSteps}};
          Seed:{{prompt.seed}};
          Params: CFG Scale: {{prompt.cfgScale}};
          <span *ngIf="prompt.denoisingStrength">
            Denoising Strength: {{prompt.denoisingStrength}};
          </span>
        </p>
        <button type="button" (click)="delete(prompt.id)" nz-button nzDanger  nzType="primary">
          Delete <span nz-icon nzType="delete"></span>
        </button>
      </div>
      <div nz-col nzSpan="2" >
        <img
          style="float: right;"
          nz-image
          width="125px"
          height="125px"
          [nzSrc]="prompt.initImagePath"
          alt="No init image"
        />
      </div>
      <div nz-col nzSpan="2" >
        <img
          style="float: right;"
          nz-image
          width="125px"
          height="125px"
          [nzSrc]="prompt.exampleImagePath"
          alt="No example image"
        />
      </div>
    </div>
  </nz-card>
</div>
