<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>MAVA Admin Site</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Test Procedure" nzIcon="forward">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/user-photos/list">User Photos</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/tasks/list">Dreambooth Tasks</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/collections/list">Image Collection </a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Prompt Management" nzIcon="setting">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/prompts/list">Prompt List</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="User Management" nzIcon="user">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/users/list">User List</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/users/login">Login</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <span class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></span>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content" style="overflow: auto">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
