<form *ngIf="!isAuthenticated" nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-control nzErrorTip="Please input your username!">
      <nz-input-group nzPrefixIcon="user">
        <input type="text" nz-input formControlName="upn" placeholder="upn" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="Please input your Password!">
      <nz-input-group nzPrefixIcon="lock">
        <input type="password" nz-input formControlName="password" placeholder="Password" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Log in</button>
</form>
<div *ngIf="isAuthenticated" >
  You are already logged in!
  <button routerLink="/user-photos/list" nz-button >My photos</button>
  <button routerLink="/tasks/list" nz-button >My tasks</button>
  <button (click)="logout()" nz-button nzType="primary">Logout</button>
</div>

