<p>Number of available GPU instances: {{numberOfAvailableInstances}}</p>
<p>Current Balance Credit: <b>{{credit}} </b>
  <a href="https://buy.stripe.com/test_8wMdSf2pC2Nn1ZC9AA" nz-button class="login-form-button login-form-margin" [nzType]="'dashed'">
 Add credits
</a>  </p>

<button style="margin-bottom: 1em"  routerLink="/create-task" nz-button nzType="primary"> Create task </button> Cost: 100 credit/task
<nz-table #basicTable [nzData]="tasks">
  <thead>
  <tr>
    <th>SD Model</th>
    <th>User</th>
    <th>Information</th>
    <th>Time</th>
    <th [nzWidth]='"250px"'>Status</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of basicTable.data">
    <td>
      <p>
        {{ data.stableDiffusionModel.modelName }}
      </p>
      <p>
        Resolution: {{data.stableDiffusionModel.imageResolution}}x{{data.stableDiffusionModel.imageResolution}}
      </p>
    </td>
    <td>
      <p>{{data.user?.upn}}</p>
      <p>Is Test mode: <b>{{data.isTestMode}}</b></p>
      <p>Number of training photos: {{data.numberOfUserPhotos}}</p>
    </td>
    <td>
      <p>Instance name: {{ data.instanceName }} </p>
      <p>Text Encoder Step: {{ data.training.textEncoder.steps}} </p>
      <p>Unet Step: {{ data.training.unet.steps}} </p>
    </td>
    <td>
      <p>Created: {{ data.createdDate }} </p>
      <p>Started: {{ data.startedDate }} </p>
      <p>Completed: {{ data.completedDate }} </p>
    </td>
    <td>
      <p style="font-weight: bold"> {{ data.status.name }}</p>
      <nz-progress [nzPercent]="(data.training.textEncoder.trainedSteps*100 / data.training.textEncoder.steps).toFixed(0)" [nzStatus]="data.status.value <= 2 ? 'active' : 'success'">
      </nz-progress>
      <nz-progress [nzPercent]="(data.training.unet.trainedSteps*100/ data.training.unet.steps).toFixed(0)" [nzStatus]="data.status.value <= 3 ? 'active' : 'success'">
      </nz-progress>
    </td>
    <td>
      <p>
        <a *ngIf="data.status.value == 10" href="{{data.checkpointFilePath}}">Download .ckpt file</a>
      </p>
      <p>
        <button routerLink="/collections/detail/{{data.imageCollectionId}}" *ngIf="data.status.value == 10"  nz-button nzType="primary">Go to result</button>
      </p>
      <p>
        <button *ngIf="data.status.value > 0 && data.status.value < 10" nz-button nzLoading nzType="dashed">Processing</button>
      </p>
    </td>
  </tr>
  </tbody>
</nz-table>
